@model IEnumerable<Customer>

<h3>Alla kunder</h3>
<div class="col-md-9">
    <table class="table">
        <thead>
            <tr>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Mobilnummer</th>
                <th>Mejl</th>
                <th>Hantera</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@customer.CustomerFirstName</td>
                    <td>@customer.CustomerLastName</td>
                    <td>@customer.MobileNumber</td>
                    <td>@customer.Email</td>
                    <td> 
                        <a asp-action="Edit" asp-route-id="@customer.CustomerId">Ändra</a>
                        <a asp-action="Delete" asp-route-id="@customer.CustomerId">Radera</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Index">Gå tillbaka</a>
    </div>
</div>